<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Courseprojectautotrace"
        tools:targetApi="31">
        <activity
            android:name=".UserProfile.NotificationScreen"
            android:exported="false" />
        <activity
            android:name=".UserProfile.EditProfileScreen"
            android:exported="false" />
        <activity
            android:name=".UserProfile.ProfileScreen"
            android:exported="false" />
        <activity
            android:name=".TrafficViolations.TrafficViolations"
            android:exported="false" />
        <activity
            android:name=".CarInformation.CarInfo"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword.ForgotPassword1"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Login.LoginScreen"
            android:exported="true" />
        <activity
            android:name=".Signup.Signup"
            android:exported="false" />
        <activity
            android:name=".Hompage.HomeScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BasicCarInfo.BasicCarInfo"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RegisterNewVehicle.RegisterNewVehicle"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>